:root {
    --panelBorderStyle: 1px solid #AAA;
    --panelBorderRadius: 15px;
}

.has-border {
    border: var(--panelBorderStyle);
    border-radius: var(--panelBorderRadius);
}

.special-shadow-div {
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #a8a8a8,
    -5px -5px 10px #ffffff;
}

#rootContainer {
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #a8a8a8,
    -5px -5px 10px #ffffff;
    min-height: 500px;

}

#menuJefeMesa {
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #a8a8a8,
    -5px -5px 10px #ffffff;
    min-height: 200px !important;
}


#jefe-mesa-usuario-2 {

}

.is-100-width {
    width: 100%;
}

.thead-centered > tr > th {
    text-align: center !important;
}

.tbody-centered > tr > th,td {
    text-align: center !important;
}

@media ( min-width: 768px ) {
    .modal-450-width {
        width: 450px !important;
    }

    .modal-400-width {
        width: 400px !important;
    }
}


.is-pointer {
    cursor: pointer;
}

.is-100v-height {
    height: 100vh;
}

.is-450-width {
    width: 450px;
}

.is-200-width {
    width: 200px;
}

#update-action-container {
    display: none;
}

.has-max-content-width {
    width: max-content;
}

.is-absolute {
    position: absolute;
}

.radio-text {
    font-size: 14px;
}

.max-width-320{
    max-width: 320px;
}

.is-45percent-witdth {
    width: 45%;
}